extends ../../../../../views/layout/main.jade
block main_content


    +appbox-navbar()

    +appbox-slider()
    +mc-about()
    +mc-services()
    +appbox_franchise()
    +appbox_findus()
    +appbox-work()
    +apply_job()
    +appbox-contact()
    +appbox-footer-bottom()

    include ../../../../../models/back-to-top/back-to-top.jade
    include ../../../../../models/loder/loder.jade
    //- include ../../../../../models/switcher/switcher.jade