//=== switcher starts here ===
section
	.container
		.row
			.col-md-12
				div.switcher-upack
					.switcher-btn
						i.fa-spin.fa.fa-gear.hidden-xs

					.switcher-content

						.colors
							ul
								for i in ['styles' ,'alizarin', 'emerald', 'peter', 'carot','Dionysus-Bright-4','Dragomir-2','wet-asphalt']
									li
										i.flaticon-shirt(class='sw-clr switcher-' + i + '-bg', data-target= i)
//-=== switcher end here ===